

.App{
    margin: 20px;
}
input{
    display: block;
    margin-bottom:11px;
    padding: 9px;
}
button{
    display: block;
}
.card{
    border: 1px solid;
    padding: 10px;
    display: inline-block;
    margin: 8px;
}